@font-face {
    font-family: AntiFont;
    src: url("./assets/fonts/AntiDesign-Anti-Font-4.otf") format("opentype");
}

body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
    color: #1C2B38;
}

#header {
    width: 540px;
    margin-bottom: 104px;
}

#header text {
    font-family: AntiFont;
}

#about {
    max-width: fit-content;
    margin: 250px auto 180px auto;
}

#personal {
    max-width: fit-content;
    margin: auto;
}

#contact {
    margin-top: 16px;
}

.link {
    margin: 0;
    opacity: 68%;
    display: block;
    text-decoration: inherit;
    color: inherit;
    width: fit-content;
}

.link:hover {
    text-decoration: none;
    opacity: 100%;;
}

#project-list {
   display: flex;
   flex-direction: column; 
   align-items: center;
}

.project {
    color: inherit;
    text-decoration: inherit;
    max-width: 688px;
    width: 100%;
    border: 2px solid;
    border-color: #666D74;
    margin-bottom: 80px;
}

.project img {
    max-width: 100%;
    display: block;
}

.project-details {
    border-top: 2px solid;
    border-color: #666D74;
    padding: 24px;
}

.project-details .title {
    font-weight: 600;
    margin-top: 0px;
}

.project-details p {
    margin-bottom: 0px;
}

.project-page {
    box-sizing: border-box; 
    margin: auto;
    max-width: 1064px;
}

.project-page * {
    padding: 0 188px 0 188px;
}

.project-page section {
    padding: 0;
}

.project-page .full-bleed {
    padding: 0;
}

.project-page__header {
    font-weight: 450;
}

.project-page__subheader {
    font-weight: 450;
    margin-bottom: 48px;
}

.project-page__image {
    width: 100%;
    box-sizing: border-box;
}

.project-page__section {
    margin-bottom: 48px;
    line-height: 20px;
}

.project-page__section-header {
    font-weight: 500;
}

.project-page__image-description {
    opacity: 68%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 64px;
}

.project-page__image-description.primary {
    opacity: 100%;
    text-align: left;
}

.project-page__link {
    display: flex;
    align-items: center;
    margin-top: 102px;
    margin-bottom: 56px;
    margin-left: -24px;
}

.project-page__link img {
    padding: 0px;
}

.project-page li {
    padding: 0px;
}

.project-page ul {
    margin-left: 24px;
}

@media screen and (max-width: 1192px) {
    .project-page {
        margin-left: 68px;
        margin-right: 68px;
    }

    .project-page__link {
        margin-top: 52px;
    }

    .project-page * {
        padding: 0;
    }   
}

@media screen and (max-width: 838px) {
    #home-page {
        margin: auto 68px auto 68px;
    }

    #header {
        margin-bottom: 42px;
        white-space: nowrap;
        margin-left: auto;
        width: 100%;
    }

    #about {
        margin: 106px 0 72px 0;
        max-width: none;
    }

    #personal {
        margin: initial;
        max-width: none;
    }
}
