@font-face {
    font-family: AntiFont;
    src: url("./assets/fonts/AntiDesign-Anti-Font-4.otf") format("opentype");
}

body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#header {
    font-size: 80px;
    text-align: center;
    font-family: AntiFont;
}

#about {
    max-width: fit-content;
    margin: 250px auto 180px auto;
}

#personal {
    max-width: fit-content;
    margin: auto;
}

#contact {
    margin-top: 16px;
}

a {
    margin: 0;
    opacity: 68%;
    display: block;
    text-decoration: inherit;
    color: inherit;
}

#contact a:hover {
    text-decoration: underline;
}

#project-list {
   display: flex;
   flex-direction: column; 
   align-items: center;
}

.project {
    color: inherit;
    text-decoration: inherit;
    max-width: 600px;
    width: 100%;
    border: 2px solid;
    border-color: #666D74;
    margin-bottom: 80px;
}

.project img {
    max-width: 100%;
    display: block;
}

.project-details {
    border-top: 2px solid;
    border-color: #666D74;
    padding: 12px;
}

.project-details .title {
    font-weight: 600;
}

.project-page {
    margin: auto;
    max-width: 600px;
}

.project-page a {
    margin-left: -13px;
}

@media screen and (max-width: 700px) {
    #home-page {
        margin: auto 95px auto 96px;
    }

    #header {
        font-size: 56px;
        margin-bottom: 72px;
        white-space: nowrap;
    }

    #about {
        margin: 106px 0 72px 0;
        max-width: none;
    }

    #personal {
        margin: initial;
        max-width: none;
    }
}